In [ ]:
import pandas as pd
import numpy as np

## Load persons data from CSV file into a Pandas DataFrame

In [ ]:
with open("sample_data/people.csv", "r") as file:
    people_df = pd.read_csv(file)

# Rename the 'first' & 'last' columns as these are Pandas reserved keywords
people_df = people_df.rename(columns={"first": "firstname", "last": "lastname"})

## Pandas examples

In [ ]:
# View the entire dataframe
people_df

In [ ]:
# View the number of people with each title
people_df.title.value_counts()

In [ ]:
# Only view people with a title of 'Professor'
people_df[people_df.title == "Professor"]

In [ ]:
# Only view people with a title of 'Professor' and a first name beginning with 'A'
people_df[(people_df.title == "Professor") & (people_df.firstname.str.startswith("A"))]

In [ ]:
# add a new column to the dataframe and populate it with random numbers
rng = np.random.default_rng()
people_df["age"] = rng.integers(20, 100, len(people_df))
people_df

In [ ]:
# add a new column to the dataframe based on the value of other columns
people_df["name_with_title"] = (
    people_df["title"] + " " + people_df["firstname"] + " " + people_df["lastname"]
)
people_df

In [ ]:
# construct a complex condition using masks
is_professor = people_df["title"] == "Professor"
is_curator = people_df["title"] == "Curator"
has_middle_name = ~people_df["middle"].isna()

# select all people who are professors and have a middle name OR people who
# are a curator and have no middle name
people_df[(is_professor & has_middle_name) | (is_curator & ~has_middle_name)]

## Simple pivot table

**https://www.machinelearningplus.com/pandas/pandas-pivot-table-in-python/**

In [ ]:
sample_df = pd.DataFrame(
    {
        "First Name": ["Aryan", "Rohan", "Riya", "Yash", "Siddhant"],
        "Last Name": ["Singh", "Agarwal", "Shah", "Bhatia", "Khanna"],
        "Type": [
            "Full-time Employee",
            "Intern",
            "Full-time Employee",
            "Part-time Employee",
            "Full-time Employee",
        ],
        "Department": ["Administration", "Technical", "Administration", "Technical", "Management"],
        "Salary": [20000, 5000, 10000, 10000, 20000],
    }
)

In [ ]:
sample_df

In [ ]:
# Create a pivot table which shows the average salary of each type of employee for each department
pivot_table = pd.pivot_table(
    data=sample_df, index=["Type"], columns=["Department"], values="Salary", aggfunc="mean"
)

In [ ]:
pivot_table